farmcart.local {
    root * /var/www/html
    file_server

    # Enable HTTPS with self-signed certificates
    # tls /etc/caddy/certs/farmcart.local.crt /etc/caddy/certs/farmcart.local.key

    # Proxy API requests to the backend service
    reverse_proxy /api/* http://api:5002

}
